@import "~bulma/sass/utilities/initial-variables";
@import "./variables";

.heading-blue {
  color: $primary;
}

body {

  &.front-page {
    header {
      background: none;
    }

    main {
      section {
        margin-top: 0;
      }
    }
  }
}

.vertical-posts-list {

  display: flex;
  flex-direction: column;

  .post.normal {

    display: flex;
    flex-direction: row;
    padding: 20px;
    border-top: 1px solid #CCCCCC;

    .image-type-normal {
      min-width: 21%;
      margin-right: 2%;
    }

    .post-content {
      display: flex;
      flex-direction: column;

      .taglist {
        margin-top: 5px;
      }

      a {
        h4 {
          margin-top: 0;
        }
      }
    }

  }
}

.horzontal-three-posts-list {

  display: flex;

  .post {

    @extend .horzontal-three-posts

  }

}

.horzontal-three-posts {
  margin-top: 40px;
  max-width: 32%;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  .image-type-top {
    overflow: hidden;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  ul.taglist {
    display: flex;
    list-style-type: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0 0;
    flex-flow: wrap;

    li {
      padding: 0 10px 0 0;
      margin: 0;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $secondary;
        font-family: 'Changa', sans-serif;
        position: relative;
        top: -7px;
      }
    }

    &.divided {

      margin-left: -10px;

      li {

        height: 13px;
        margin-bottom: 10px;

        padding: 0 10px;
        border-right: 2px solid $secondary;

        &:last-child {
          border: none;
        }

      }

    }
  }

  h1 {
    font-family: 'Changa', sans-serif !important;
    font-size: 65px !important;
    font-weight: 600 !important;
  }

  h2 {
    font-family: 'Changa', sans-serif !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    color: $primary !important;
    margin-top: 40px !important;
    text-transform: uppercase !important;
  }

  h3 {
    font-family: 'Changa', sans-serif !important;
    font-size: 30px !important;
    font-weight: normal !important;
    color: $primary !important;
    margin-bottom: 10px !important;
  }

  h4 {
    font-size: 24px !important;
    line-height: 1.8rem !important;
    font-weight: 600 !important;
    color: $primary !important;
  }
}

header {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  //align-self: stretch;
  max-width: 1600px;
  background-color: $primary;

  nav {
    height: 80px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;

    .navigation-bar-logo {
      display: flex;
      justify-content: flex-start;
      margin-right: auto;
      align-items: stretch;

      figure {
        padding: 30px 50px;

        img {
          height: 18px;
          width: auto;

        }
      }
    }

    .navigation-bar-burger {
      display: none;
    }

    .navigation-bar-menu {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      margin-left: auto;
      margin-right: 40px;

      a {
        color: #FFF;
        font-size: 18px;
        font-family: 'Changa', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 40px;
      }
    }

    .navigation-bar-item {
      align-items: center;
      display: flex;
      line-height: 1.5;
      padding: .5rem 1rem;
      position: relative;
    }

  }

}

main {

  max-width: 1600px;
  width: 100%;

  section {

    display: flex;
    flex-direction: column;
    margin: 80px 160px 40px;

    .hero {

      height: 740px;
      margin-left: -160px;
      margin-right: -160px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      //background-size: cover;
      //background-image: url('../img/hero.jpg');
      background-color: #0e3f93;

      .claim {

        width: 50%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        h1 {
          color: #FFF;
          margin-bottom: 0;
          text-align: center;
          line-height: 5rem;
          margin-top: 30px;
        }

        p {
          color: #FFF;
          font-size: 18px;
          text-align: center;
          line-height: 34px;
          margin-bottom: 40px;
        }

        a {
          font-weight: bold;
          color: #FFF;
          font-size: 18px;
          background-color: #00ACE9;
          padding: 10px 20px;
          border-radius: 100px;
        }
      }

    }

    .page-content {

      margin-top: 60px;

      .thesis-wrapper {

        display: flex;
        flex-direction: row;

        .thesis {

          flex: 1;

          &:first-child {
            margin-right: 40px;
          }

          h3 {

          }

        }

      }

      .featured-video-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $primary;
        margin-top: 40px;
        padding: 40px 40px 40px 80px;
        margin-left: -160px;
        margin-right: -160px;
        background: -moz-linear-gradient(top, #0e3f93 0%, #2499b1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #0e3f93 0%, #2499b1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #0e3f93 0%, #2499b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e3f93', endColorstr='#2499b1', GradientType=0); /* IE6-9 */

        .featured-video {
          width: 800px;

          iframe {
            height: 100% !important;
          }

        }

      }

      .posts {

        margin-top: 60px;

        .top-posts {

          margin-top: 40px;

          @extend .horzontal-three-posts-list;

        }
      }

    }

  }

  .blog {

    display: flex;
    flex-direction: column;

    .top-posts {

      display: flex;
      flex-flow: wrap;

      .post.featured {
        display: flex;
        flex-direction: row;
        width: 100%;

        .image-type-featured {
          width: 66%;
        }

        .post-content {
          margin-left: 2%;
          width: 32%;
          border-top: 1px solid #CCC;
          border-bottom: 1px solid #CCC;

          .post-tags {

            margin-top: 120px;
            margin-bottom: 0;

          }

          h4 {
            font-size: 38px;
            margin-bottom: 20px;
          }

          a.more {
            color: $primary;
            font-weight: 600;
            text-transform: uppercase;

            .arrow {
              margin-bottom: -5px;
              margin-left: 10px;
            }
          }
        }
      }

      .post.top {

        @extend .horzontal-three-posts;

      }

    }

    .all-posts {

      @extend .vertical-posts-list;

    }

  }

  .blogs-by-tag {

    .all-posts {

      @extend .vertical-posts-list;

    }

  }

  .blog-post {

    padding-top: 40px;
    margin-bottom: 370px;
    display: flex;
    flex-flow: wrap;

    &.has-related-posts {
      margin-bottom: 500px;
    }

    ul.taglist {
      margin-bottom: 7px;
      width: 100%;
    }

    h1 {
      font-family: Helvetica, sans-serif;
      margin-top: 0 !important;
      font-size: 40px;
      font-weight: bold;

      @extend .heading-blue
    }

    .image-type-featured {
      margin-bottom: 40px;

      height: 470px;
      width: 100%;
      overflow: hidden;

    }

    .blog-post-author {

      font-size: 14px;
      width: 10%;

      .gatsby-image-outer-wrapper {
        width: 100px;
      }

      h5.title {
        margin-top: 20px;
        font-size: 14px;
        color: $primary;
        font-weight: 600;
        margin-bottom: 0;
      }

      .position {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }

      p.company {
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 0;

        &.company {
          color: $primary;
        }
      }

    }

    .content {
      width: 74%;
      margin-left: 3%;
      margin-right: 3%;
      display: block;

      p {
        line-height: 28px;
        margin-bottom: 20px;
      }

      h2 {
        color: $primary;
        font-weight: 600;
      }

      ul, ol {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      ol {
        margin-left: 20px;
      }

      ul {
        list-style-type: disc;
        margin-left: 40px;
      }

    }

    .post-social {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .SocialMediaShareButton {
        margin-bottom: 2px;
        background-color: #879fc9;
      }
    }

    .post-category {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-left: 13%;
      width: 74%;
      font-size: 14px;
      color: $primary;
      padding-bottom: 20px;
      border-bottom: #CCC solid 1px;

      .taglist {
        &.divided {
          margin: 5px 0 0;
        }
      }
    }

    .overview-link {
      font-weight: bold;
      color: $primary;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-top: 20px;
      margin-left: 13%;
      width: 74%;

      img {
        margin-right: 10px;
      }
    }

    .related-posts {

      position: absolute;
      bottom: 139px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
      background-color: #FFF;
      -webkit-box-shadow: 0 -12px 26px 0 rgba(102, 102, 102, 0.2);
      -moz-box-shadow: 0 -12px 26px 0 rgba(102, 102, 102, 0.2);
      box-shadow: 0 -12px 26px 0 rgba(102, 102, 102, 0.2);

      .related-posts-wrapper {

        max-width: 1600px;
        padding: 0 160px;
        position: relative;

        .related-posts-wrapper-inner {

          margin: 0 13%;

          h3 {
            font-size: 20px !important;
            text-transform: uppercase;
            font-weight: 600 !important;
          }

          .related-posts-list-wrapper {

            overflow: hidden;

            .related-posts-list {

              display: flex;
              flex-direction: row;
              margin-top: 30px;

              transition: all 0.4s;

              .post.related {
                flex: 1;
                padding: 0 45px;
                border-right: 1px solid #e4e4e4;

                &:first-child {
                  border-left: 1px solid #e4e4e4;
                }

                h4 {
                  font-size: 20px !important;
                }

                .image-type-related {
                  width: 160px;
                  height: auto;
                }

                .post-content-excerpt {
                  display: none;
                }

              }
            }
          }

        }

      }
    }
  }

  .simple {
    padding-top: 40px;

    .content {
      align-items: flex-start;
    }
  }

  .contact {

    h2 {
      margin-bottom: 50px;
    }

    .contact-content {

      width: 100%;
      display: flex;

      .contact-information {
        flex: 4;
        padding-right: 30px;
        color: $primary;

        .contact-title {
          font-weight: bold;
          font-family: 'Changa', sans-serif;
          margin-bottom: 20px;
          font-size: 1.2rem;
        }

        .contact-address {
          margin-bottom: 20px;
        }

        .contact-email {
          font-weight: bold;

          .label {
            font-weight: normal;
            float: left;
            margin-right: 5px;
            color: $primary;
          }

          a {
            color: $primary;
          }
        }
      }

      .contact-map {
        flex: 6;
        width: 100%;
        height: 400px;
      }

    }
  }

}

.post {
  flex-direction: column;
  display: flex;

  h4 {
    margin-top: 10px;
  }

}

.pagination {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: 'Changa', sans-serif;
  border-top: 1px $primary solid;
  margin-top: 60px;
  padding: 0 50px;
  font-size: 1.2rem;

  .pagination-prev,
  .pagination-next {
    color: $primary;
    padding-top: 6px;
  }

  .pagination-item {

    margin: 10px;

    .pagination-item-link {

      color: $primary;

      &.active {
        font-weight: bold;
      }

    }
  }

}

.contact-form-footer {

  background: white url("../img/realexperts-bg-02-links.png") top left no-repeat;
  overflow: hidden;
  max-width: 1600px;
  width: 100%;

  .section {
    display: flex;
    flex-direction: column;
    margin: 80px 160px 40px;

    .contact-content {
      display: flex;

      .contact-information {
        flex: 1;
        padding: 0 30px 0 0;
      }

      .contact-form {
        flex: 1;
        width: 100%;
        height: 320px;
        background: white;
        padding: 30px;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(173, 173, 173, 1);
        -moz-box-shadow: 0px 0px 40px 0px rgba(173, 173, 173, 1);
        box-shadow: 0px 0px 40px 0px rgba(173, 173, 173, 1);

        .contact-form-wrapper {
          .contact-form-name,
          .contact-form-email {
            width: 50%;
            padding: 0 20px 0 0;
            display: inline-block;
          }

          .contact-form-message {
            width: 100%;
            padding: 0 20px 0 0;
            margin-top: 30px;
          }

          label {
            display: block;
            font-size: 14px;
            color: $cyan;
          }

          input, textarea {
            width: 100%;
          }
        }
      }

    }

  }


}

.footer {

  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #e7e7e7; /* Old browsers */
  background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e7e7e7 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    padding: 0 160px;

    .footer-logo {

      display: flex;

      img {
        margin-right: 8px;
      }

      .footer-powered-by {
        font-family: 'Changa', sans-serif;
        display: flex;
        min-width: 250px;
        align-items: flex-end;
        line-height: 20px;
        margin-bottom: 9px;
        color: $primary;
      }

    }

    nav {
      ul {
        list-style-type: none;
        display: flex;

        li {
          margin: 0 0 0 40px;

          a {
            color: $primary;
          }
        }
      }
    }

  }
}

@import "./responsive";

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

//@import "~bulma";
